.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
  padding: 1rem 1.25rem;
  padding-bottom: 0;
  background-color: var(--white);

  section{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .changePasswordTitle{
    position: absolute;
    top: 7rem;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
    transition: 0.3s;
  }
}

.formContainer{
  background-color: var(--white);
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 90%;
  margin-top: 1rem;

  .title{
    font-size: 1.5rem;
    font-weight: 500;
    transform: translateY(-150%);
  }

  .warningText{
    text-align: center;
    color: var(--red-900);
  }
}