.container{
  position: fixed;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  left: 50%;
  top: 7rem;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.357);
  z-index: 99999999;
}