.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
  padding: 1rem 1.25rem;
  padding-bottom: 0;
  background-color: var(--white);

  section{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.formContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 90%;

  .forgotPassword{
    margin: 0.5rem auto;
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 1.15rem;
    color: var(--blue-300);
    padding: 0;
    background: transparent;
    transition: transform 0.3s ease;

    &:active{
      transform: scale(0.95)
    }
    &:hover{
      cursor: pointer;
    }
  }


  .warningText{
    text-align: center;
    color: var(--red-900);
  }
}