.container{
  width: 100%;
  position: fixed;
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--white);
  box-shadow: 1px 1px 1px 5px rgb(232, 232, 232);

  .name{
    position: relative;
    width: fit-content;
    display: flex;
    white-space: nowrap;
    align-items: center;

    button{
      display : none;
      position: absolute;
      border-radius: 50%;
      border: 0;
      outline: 0;
      padding: 0.5rem;
      background: var(--white);
      margin-right: 1rem;
      z-index: 13;
    }

    h2{
      z-index: 15;
      transition: 0.2s ease;
      display: flex;
      font-weight: 400;
      margin: 0;
      
      span{
        margin-left: 0.3rem;
        font-weight: 800;
      }
    }
  }

  .urgentButton{
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 2rem;
    background-color: var(--red-300);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.26);

    &:active {
      transform: scale(0.9);
    }

    img{
      height: 3rem;
      width: 3rem;
    }
  }

}