.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button{
    font-size: 0;
    padding: 0.75rem;
    outline: 0;
    border: 0;
    border-radius: 50%;
    transition: transform 0.2s ease;

    &:active{
      transform: scale(0.95);
       svg{
         fill: var(--red-900);
       }
    }
  }

  h1{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
  }

  button:last-child{
    font-size: 1.25rem;
    color: var(--blue-300);
    font-weight: 600;
    transition: transform 0.2s ease;
    border-radius: 0;
    background: transparent;

    &:active{
      transform: scale(0.9);
    }
  }

}