.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 3rem;

  h1{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    white-space: nowrap;
  }

  button:last-child{
    font-size: 1.25rem;
    color: var(--blue-300);
    font-weight: 600;
    transition: transform 0.2s ease;
    border-radius: 0;
    background: transparent;

    &:active{
      transform: scale(0.9);
    }
  }

}